## 分类
#### 对学生成绩进行分类

In [4]:
import os
#获取当前绝对路径
thisFilePath = os.path.abspath('.')
os.chdir(thisFilePath)
os.getcwd()

'C:\\Users\\sece\\新建文件夹'

In [4]:
import pandas as pd
df = pd.read_csv("myData.csv")
#显示头五个
df.head()

   id  yingyu  yuwen  shuxue  lable
0   0      92     87      67      1
1   1      90     88      78      2
2   2      75     55      82      3
3   3      60     60      89      3
4   4      81     85      80      1

* 取80行数据，2到3列（语文和数学成绩）

In [5]:
train_x = df.iloc[0:80,2:4]
train_x.head()

   yuwen  shuxue
0     87      67
1     88      78
2     55      82
3     60      89
4     85      80

In [6]:
train_y = df.iloc[0:80,4]
train_y.head()

0    1
1    2
2    3
3    3
4    1
Name: lable, dtype: int64

In [10]:
from sklearn import neighbors
model = neighbors.KNeighborsClassifier()

In [11]:
#解模型
model.fit(train_x,train_y)

KNeighborsClassifier()

In [12]:
test_x = df.iloc[80:100,2:4]
test_x.head()

    yuwen  shuxue
80     76      78
81     75      88
82     61      82
83     68      88
84     81      74

In [14]:
# 预测值
test_p = model.predict(test_x)
test_p

array([2, 3, 3, 3, 1, 1, 3, 2, 3, 1, 3, 1, 1, 2, 3, 2, 2, 1, 2, 1],
      dtype=int64)

In [15]:
test_y = df.iloc[80:100,4].values
test_y

array([2, 2, 3, 3, 1, 1, 3, 2, 3, 1, 3, 1, 1, 1, 3, 2, 2, 1, 2, 2],
      dtype=int64)

* 正确率

In [16]:
model.score(test_x,test_y)

0.85